<div class="footer h-auto py-16 w-full bg-[#FDF7F6]">
    <div class="container flex flex-col items-center justify-around mx-auto">
        <div class="logo flex justify-center items-center gap-2 truncate mb-8">
            <a href="{{ routes.home_url }}" class="flex items-center">
                <img src="{{ 'sparkle.png' | file_img_url }}" alt="{{ shop.name }}" class="h-6 w-6">
            </a>
            <h1 class="text-4xl text-gray-900 font-bold truncate capitalize">Belliza</h1>
        </div>

        <nav class="flex w-[80%] mx-auto justify-between items-start [&>div>h1]:mb-4 flex-wrap">
            <div>
                <h1 class="text-2xl [&>p]:my-2">Contact Info</h1>
                <p class="text-lg text-[#777777]">+123 456 789</p>
                <p class="text-lg text-[#777777]">info@free.com</p>
                <div class="flex justify-between items-center gap-4 mt-2">
                    <a href="#"><img src="{{ 'facebook.png' | file_img_url }}" alt="facebook" class="h-4 w-4"></a>
                    <a href="#"><img src="{{ 'twitter.png' | file_img_url }}" alt="twitter" class="h-4 w-4"></a>
                    <a href="#"><img src="{{ 'instagram.png' | file_img_url }}" alt="instagram" class="h-4 w-4"></a>
                </div>
            </div>

            {% for link in linklists['footer'].links %}
                {% if link.links != blank %}
                    <div class="[&>ul>a]:block [&>ul>a]:text-lg [&>ul>a]:text-[#777777] [&>ul>a]:my-2">
                        <h1 class="text-2xl">{{ link.title }}</h1>
                        <ul>
                            {% for sublink in link.links %}
                                <a href="{{ sublink.url }}"><li>{{ sublink.title }}</li></a>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>

<div class="h-[100px] w-full flex items-center justify-center">
    <div class="container text-[#777] mx-auto w-[90%]"><p>© Belliza All Rights Reserved. Theme by <span class="underline">Toch</span></div>
</div>