{% style %}
  .category {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.5s;
  }

  .category:hover{
    background-size: 110%;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
{% endstyle %}

<div class="categories my-16 px-2 md:px-0">
  <h2 class="w-3/4 md:w-1/2 mx-auto text-2xl md:text-3xl text-[#777777] text-center mb-8">
    {{ section.settings.title }}
  </h2>

  <div class="categories grid gap-8 w-[90%] mx-auto">
    {% if section.settings.collections == blank %}
      {% for collection in collections limit: 3 %}
        <a href="{{ collection.url }}" data-aos="fade-down" data-aos-delay="{{ forloop.index0 |  times: 100}}">
          <div class="category relative h-[400px] w-auto" style="background-image: url('{{ collection | img_url: 'large' }}')">
            <h3 class="absolute text-2xl md:text-3xl text-white font-bold bottom-10 right-10">{{ collection.title }}</h3>
          </div>
        </a>
      {% endfor %}

    {% else %}
      {% for collection in section.settings.collections limit: 3 %}
        <a href="{{ collection.url }}">
          <div class="category relative h-[400px] w-auto" style="background-image: url('{{ collection | img_url: 'large' }}')">
            <h3 class="absolute text-2xl md:text-3xl text-white font-bold bottom-10 right-10">{{ collection.title }}</h3>
          </div>
        </a>
      {% endfor %}
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Hero Categories",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Inspired by our multi-ethnic life, we create fine jewellery to share our wonderful tales…"
      },
      {
        "type": "collection_list",
        "id": "collections",
        "label": "Collections",
        "info": "Select up to 3 collections to display"
      }
    ]
  }
{% endschema %}

{% comment %} <script>
  // function to add very slight zoom effect to category classes as user scrolls and accounts for smaller screens
  window.addEventListener('scroll', function() {
    var value = window.scrollY;
    var category = document.querySelectorAll('.category');
    var start = 100;

    category.forEach(function(category) {
      category.style.backgroundSize = start + value * 0.1 + '%';
    });
  });

</script> {% endcomment %}